body {
  background-image: url(../images/background.png);
}

#container {
  background-image: url(../images/background2.png);
  width: 940px;
  margin: 0 auto;
  padding: 20px 30px;
  
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
	-moz-box-shadow: 3px 3px 4px #222;
	-webkit-box-shadow: 3px 3px 4px #222;
	box-shadow: 3px 3px 4px #222;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#222222')";
}

#kangaroo {
  position: relative;
  height: 250px;
}

#kangaroo img {
  position: absolute;
  top: 49px;
  left: 190px;
}

#navigation {
  margin: 40px auto 40px;
  width: 805px;
}

#navigation ul {
  list-style-type: none;
  padding: 0;
}

#navigation li {
  float: left;
  margin: 0 8px;
}

#navigation li a {
  display: block;
  background-image: url(../images/button.png);
  text-align: center;
  padding: 8px;
  width: 129px;
  height: 14px;
}

#navigation a {
  display: block;
  text-decoration: none;
}

br.clearfix {
  clear: both;
}

/* Fork me on github ribbon */
#container {
  position: relative;
}

.fork-me img{
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
  z-index: 10;
}


#sidebar ul {
/*  list-style-type: disc;*/
/*  list-style-type: square;*/
  list-style-type: none;
  font-size: 12px;
  font-style: normal;
  padding-left: 8px;
}

#sidebar ul li {
  padding-left: 4px;
  line-height: 12px;
  padding-top: 4px;
}

#sidebar ul a {
  font-size: 12px;
}

#sidebar ul ul {
  margin: 6px 0;
}

body.two-col #sidebar {
  width: 200px;
  float: left;
}

body.two-col #content {
  margin-left: 40px;
  width: 700px;
  float: left;
}