body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Verdana", "Arial";
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

h2 {
  font-size: 18px;
  margin: 32px 0 12px;
}

h3 {
  font-size: 14px;
  margin: 32px 0 20px;
}

h4 {
  font-size: 12px;
  margin: 24px 0 8px;
}

h5 {
  font-size: 12px;
  font-weight: normal;
  margin-top: 12px;
}

code {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ddd;
  padding: 2px 6px;
  font-style: normal;
}

pre {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Bitstream Vera Sans Mono", "Monaco", "sans serif";
  font-size: 12px;
  line-height: 16px;
  padding: 12px 24px;
  margin: 4px 0 16px;
  color: #ddd;
}

pre code {
  background-color: transparent;
  padding: 0;
}


p {
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
}

hr {
  border-top: 2px solid #999;
  margin-bottom: 40px;
}

a, a:visited {
  color: #333;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  text-align: justify;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 16px;
}

ul li{
  font-size: 12px;
  line-height: 18px;
}