<ul>
  <li>
    <a href="usage.html#installation">Installation</a>
  </li>
  <li>
    <p>
      <a href="usage.html#basics">Basics</a>
    </p>
    <ul>
      <li>
        <p>
          <a href="usage.html#querying">Querying</a>
        </p>
        <ul>
          <li>
            <a href="usage.html#find">Find</a>
          </li>
          <li>
            <a href="usage.html#first__all__last">First / All / Last</a>
          </li>
          <li>
            <a href="usage.html#relationlike_querying">Relation-like querying</a>
          </li>
          <li>
            <a href="usage.html#a_note_about_">A note about where</a>
          </li>
        </ul>
      </li>
      <li>
        <p>
          <a href="usage.html#working_with_records">Working with records</a>
        </p>
        <ul>
          <li>
            <a href="usage.html#attributes">Attributes</a>
          </li>
          <li>
            <a href="usage.html#dirty">Dirty</a>
          </li>
          <li>
            <a href="usage.html#creating_records">Creating records</a>
          </li>
          <li>
            <a href="usage.html#destroying_records">Destroying records</a>
          </li>
        </ul>
      </li>
      <li>
        <p>
          <a href="usage.html#misc">Misc</a>
        </p>
        <ul>
          <li>
            <a href="usage.html#new_record__persisted__destroyed">new_record? / persisted? / destroyed?</a>
          </li>
          <li>
            <a href="usage.html#lazy_model_loading">Lazy model loading</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <p>
      <a href='associations.html#associations'>Associations</a>
    </p>
    <ul>
      <li>
        <a href='associations.html#many2one'>Many2one</a>
      </li>
      <li>
        <a href='associations.html#one2many'>One2many</a>
      </li>
    </ul>
  </li>
  <li>
    <p>
      <a href="tools.html#tools">Tools</a>
    </p>
    <ul>
      <li>
        <p>
          <a href="tools.html#command_line_interface">Command Line Interface</a>
        </p>
        <ul>
          <li>
            <a href="tools.html#ruby_console">Ruby Console</a>
          </li>
          <li>
            <a href="tools.html#generate_documentation">Generate Documentation</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
