<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title>{{ page.title }}</title>
  
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/typography.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection" />
</head>

<body>
  <div id="container">
    <div id="header">
      <a class='fork-me' href="http://github.com/cice/kangaroo">
        <img  src="https://gs1.wac.edgecastcdn.net/80460E/assets/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub">
      </a>
      <div id="kangaroo">
        <img src="images/kangaroo.png" alt="Kangaroo - Ruby OpenObject Client"/>
      </div>
      <div id="navigation">
        <ul>
          <li>
            <a href='index.html'>Introduction</a>
          </li>
          <li>
            <a href='documentation.html'>Documentation</a>
          </li>
          <li>
            <a href='contribute.html'>Contribute</a>
          </li>
          <li>
            <a href='source.html'>Source</a>
          </li>
          <li>
            <a href='issues.html'>Issues</a>
          </li>
        </ul>
        <br class="clearfix" />
      </div>
    </div>
    <div id="content">
      <hr/>
      {{ content }}
      <hr/>
    </div>
  </div>
</body>